{% if betsChart is defined and betsChart %}
    <div id="piechart" class="row col-sm-12 col-md-6" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
{% endif %}
{% if betPointsChart is defined and betPointsChart %}
    <div id="piechart2" class="row col-sm-12 col-md-6" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
{% endif %}