{% if contests %}
    <ul>
    {% for contest in contests %}
        <li><a href="{{ path('contest_show', { 'contestId': contest.id }) }}">{{ contest.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% include "DwfPronosticsBundle:Contest:create.html.twig" with {'contestForm': contestForm } %}