{% extends '::base.html.twig' %}


{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="page-header">
    <h1>{{ "Lost password"|trans({}, 'messages') }}</h1>
</div>
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock body %}
